name: act_qr_code
description: This package contains a QR Code widget ready to use
author: AC Technologies
version: 0.0.1

publish_to: none

environment:
  sdk: ">=2.8.0 <3.0.0"
  flutter: ">=1.17.0 <2.0.0"

dependencies:
  flutter:
    sdk: flutter

  act_dart_utility:
    git:
      url: ssh://git@gitlab.act.lan:2211/internal-libraries/software/actflutterpackages.git
      ref: act_dart_utility_0.0.1
      path: act_dart_utility

  act_global_manager:
    git:
      url: ssh://git@gitlab.act.lan:2211/internal-libraries/software/actflutterpackages.git
      ref: act_global_manager_0.0.1
      path: act_global_manager

  act_music_player_manager:
    git:
      url: ssh://git@gitlab.act.lan:2211/internal-libraries/software/actflutterpackages.git
      ref: act_music_player_manager_0.0.1
      path: act_music_player_manager

  app_settings: 4.0.3

  flutter_bloc: ^6.0.6

  permission_handler: ^5.0.1+1

  qr_code_scanner: ^0.0.14

# TODO Frequently verify those overrides
dependency_overrides:
  # Future 0.0.14 updates android/build.gradle to require min SDK 17 instead of 24 (git 29e4673)
  # As of today, 0.0.14 is not yet tagged/published hence we temporary override this dependency
  # to point the WIP 0.0.14.
  qr_code_scanner:
    git:
      url: https://github.com/juliuscanute/qr_code_scanner.git
      ref: '29e4673'

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
