# SPDX-FileCopyrightText: 2025 Benoit Rolandeau <benoit.rolandeau@allcircuits.com>
#
# SPDX-License-Identifier: LicenseRef-ALLCircuits-ACT-1.1

name: Flutter CI
on:
  pull_request:
defaults:
  run:
    shell: bash
env:
  PUB_ENVIRONMENT: bot.github
permissions: read-all

jobs:
  mono_repo_self_validate:
    name: mono_repo self validate
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:stable"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
        with:
          sdk: stable
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: mono_repo self validate
        run: dart pub global activate mono_repo 6.6.3
      - name: mono_repo self validate
        run: dart pub global run mono_repo generate --validate

  analyze_and_test:
    name: "Analyze and Test all packages"
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/cirruslabs/flutter:stable
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      
      - name: Get dependencies for all packages
        run: |
          chmod +x ./tool/pub_get_all.sh
          ./tool/pub_get_all.sh
        
      - name: Analyze all packages
        run: |
          chmod +x ./tool/ci.sh
          PKGS="$(find . -name 'mono_pkg.yaml' | sed 's|./||; s|/mono_pkg.yaml||' | tr '\n' ' ')" \
          ./tool/ci.sh analyze
          
      - name: Test all packages
        run: |
          PKGS="$(find . -name 'mono_pkg.yaml' | sed 's|./||; s|/mono_pkg.yaml||' | tr '\n' ' ')" \
          ./tool/ci.sh test